<?xml version="1.0"?>
<robot name="nxo_world" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- world link -->
    <link name="world"/>

    <!-- include the original NextageOpen URDF (Xacro) -->
    <xacro:include filename="$(find nextage_description)/urdf/NextageOpen.urdf" />

    <!-- fix WAIST to world -->
    <joint name="world_to_WAIST" type="fixed">
        <parent link="world"/>
        <child link="WAIST"/>
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>

    <xacro:gazebo_nx_link name="BDU" color="Black" />
    <link name="BDU">
        <visual>
            <origin xyz="0.75 0 -0.08" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://nextage_description/urdf/meshes/BDU.stl" scale="1 1 1" />
            </geometry>
            <material name="gray">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.75 0 -0.08" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="package://nextage_description/urdf/meshes/BDU.stl" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1000" />
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <inertia ixx="20" ixy="0" ixz="0" iyy="20" iyz="0" izz="20"/>
        </inertial>
    </link>

    <!-- fix BDU to world -->
    <joint name="world_to_BDU" type="fixed">
        <parent link="world"/>
        <child link="BDU"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- operator link with STL mesh -->
    <xacro:gazebo_nx_link name="OPERATOR" color="Gray" />
    <link name="OPERATOR">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://nextage_description/urdf/meshes/OPERATOR.stl" scale="0.1 0.1 0.1"/>
            </geometry>
            <material name="gray">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://nextage_description/urdf/meshes/OPERATOR.stl" scale="0.1 0.1 0.1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="70.0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <!-- fix OPERATOR to world -->
    <joint name="world_to_OPERATOR" type="fixed">
        <parent link="world"/>
        <child link="OPERATOR"/>
        <origin xyz="1.5 -0.3 -0.95" rpy="0 0 -0.785398"/>
    </joint>

</robot>
